In [1]:
#modules necessaires
import numpy as np 
import pandas as pd
import os
for dirname, _, filenames in os.walk('Position_Salaries.csv'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
#dataset
dataset = pd.read_csv('Position_Salaries.csv')
dataset.head()

            Position  Level  Salary
0   Project Analyste      1   45000
1          Ingenieur      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [3]:
#s'il y a des valeures nules
dataset.isnull()

   Position  Level  Salary
0     False  False   False
1     False  False   False
2     False  False   False
3     False  False   False
4     False  False   False
5     False  False   False
6     False  False   False
7     False  False   False
8     False  False   False
9     False  False   False

In [4]:
#eneleve les colonnes inutiles
dataset.drop(['Position'], axis=1, inplace=True)

In [5]:
dataset.head()

   Level  Salary
0      1   45000
1      2   50000
2      3   60000
3      4   80000
4      5  110000

In [6]:
# transformation en 0 ou 1
dataset_ = pd.get_dummies(dataset['Salary'], drop_first=True)
dataset = pd.concat([dataset_, dataset], axis = 1)
dataset.drop(['Salary'], axis=1, inplace=True)
dataset

   50000  60000  80000  110000  150000  200000  300000  500000  1000000  Level
0      0      0      0       0       0       0       0       0        0      1
1      1      0      0       0       0       0       0       0        0      2
2      0      1      0       0       0       0       0       0        0      3
3      0      0      1       0       0       0       0       0        0      4
4      0      0      0       1       0       0       0       0        0      5
5      0      0      0       0       1       0       0       0        0      6
6      0      0      0       0       0       1       0       0        0      7
7      0      0      0       0       0       0       1       0        0      8
8      0      0      0       0       0       0       0       1        0      9
9      0      0      0       0       0       0       0       0        1     10

In [7]:
#assignation de X et y
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1:].values

In [8]:
#séparation en deux parties entrainement / test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [9]:
#entrainement
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
# Polynomial 
PolyReg = PolynomialFeatures(degree = 4)
X_poly = PolyReg.fit_transform(X_train)
# Linear
LinearReg = LinearRegression()
LinearReg.fit(X_poly, y_train)

LinearRegression()

In [10]:
#prédiction du résultat
LinearReg.predict(PolyReg.fit_transform(X_test))

array([[1.],
       [1.]])

In [11]:
# Coefficients et intercepteurs
coefficient = LinearReg.coef_
interceptors = LinearReg.intercept_
print(coefficient)

[[-3.33066907e-16  2.50000000e-01 -8.88178420e-16  7.50000000e-01
   1.00000000e+00  1.25000000e+00  1.50000000e+00  1.75000000e+00
   2.00000000e+00  0.00000000e+00  2.50000000e-01  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  7.50000000e-01
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   1.25000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  1.50000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  1.75000000e+00  0.00000000e+00  0.00000000e+00
   2.00000000e+00  0.00000000e+00  0.00000000e+00  2.50000000e-01
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   7.50000000e-01  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   1.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  1.25000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   1.50000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  1.75000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   2.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   2.50000000e-01  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  7.50000000e-01  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  1.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  1.25000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   1.50000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   1.75000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  2.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00]]

In [12]:
print(interceptors)

[1.]

# vin rouge

In [13]:
#dataset
dataset = pd.read_csv('qualite-vin-rouge.csv')
dataset.head()

,acidité fixe,acidité volatile,acide citrique,sucre résiduel,chlorures,dioxyde de soufre libre,anhydride sulfureux total,densité,pH,sulphates,alcool,qualité
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [14]:
#s'il y a des valeures nules
dataset.isnull()

,acidité fixe,acidité volatile,acide citrique,sucre résiduel,chlorures,dioxyde de soufre libre,anhydride sulfureux total,densité,pH,sulphates,alcool,qualité
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,False,False,False,False,False,False,False,False,False,False,False,False
1595,False,False,False,False,False,False,False,False,False,False,False,False
1596,False,False,False,False,False,False,False,False,False,False,False,False
1597,False,False,False,False,False,False,False,False,False,False,False,False
1598,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
# transformation en 0 ou 1
dataset_ = pd.get_dummies(dataset['qualité'], drop_first=True)
dataset = pd.concat([dataset_, dataset], axis = 1)
dataset.drop(['qualité'], axis=1, inplace=True)
dataset

,4,5,6,7,8,acidité fixe,acidité volatile,acide citrique,sucre résiduel,chlorures,dioxyde de soufre libre,anhydride sulfureux total,densité,pH,sulphates,alcool
0,0,1,0,0,0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,0,1,0,0,0,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,0,1,0,0,0,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,0,0,1,0,0,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,0,1,0,0,0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,0,1,0,0,0,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,0,0,1,0,0,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,0,0,1,0,0,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,0,1,0,0,0,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,0,0,1,0,0,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [16]:
#assignation de X et y
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1:].values

In [17]:
print(X)
print(y)

[[0.      1.      0.      ... 0.9978  3.51    0.56   ]
 [0.      1.      0.      ... 0.9968  3.2     0.68   ]
 [0.      1.      0.      ... 0.997   3.26    0.65   ]
 ...
 [0.      0.      1.      ... 0.99574 3.42    0.75   ]
 [0.      1.      0.      ... 0.99547 3.57    0.71   ]
 [0.      0.      1.      ... 0.99549 3.39    0.66   ]]
[[ 9.4]
 [ 9.8]
 [ 9.8]
 ...
 [11. ]
 [10.2]
 [11. ]]

In [18]:
#séparation en deux parties entrainement / test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [19]:
#entrainement
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
# Polynomial 
PolyReg = PolynomialFeatures(degree = 4)
X_poly = PolyReg.fit_transform(X_train)
# Linear
LinearReg = LinearRegression()
LinearReg.fit(X_poly, y_train)

LinearRegression()

In [20]:
#prédiction du résultat
LinearReg.predict(PolyReg.fit_transform(X_test))

array([[ 1.05002627e+01],
       [ 1.29668100e+01],
       [ 2.31994370e+01],
       [ 1.04030633e+01],
       [ 1.14009452e+01],
       [ 4.34542241e+00],
       [ 1.26276370e+01],
       [-2.96524004e+00],
       [-1.46815681e+02],
       [ 1.14803322e+01],
       [ 9.11584152e+00],
       [ 8.86367490e+00],
       [ 1.08606099e+01],
       [ 1.09004275e+01],
       [ 9.43366338e+00],
       [ 1.04842598e+01],
       [ 6.16391249e+00],
       [ 1.04803327e+01],
       [ 1.23106012e+01],
       [ 1.01987368e+01],
       [ 9.20155698e+00],
       [-9.48990360e-01],
       [ 9.70401087e+00],
       [ 1.89211816e+01],
       [ 5.16178425e+00],
       [ 9.89203777e+00],
       [ 3.99342447e+00],
       [ 1.77906967e+01],
       [ 1.07746064e+01],
       [-1.66507271e+02],
       [ 9.86079083e+00],
       [ 1.08988110e+01],
       [ 1.71768374e+01],
       [ 1.33673466e+01],
       [-3.81022220e+01],
       [ 1.55804040e+01],
       [ 9.39865206e+00],
       [ 1.02322412e+01],
       [ 1.52622776e+01],
       [ 1.04716829e+01],
       [ 1.00490949e+01],
       [ 9.69944904e+00],
       [ 1.47610984e+01],
       [ 2.51237280e+01],
       [ 9.90038813e+00],
       [ 9.59972161e+00],
       [ 9.73751710e+00],
       [ 1.06211495e+01],
       [ 8.74495311e+00],
       [ 1.21372106e+01],
       [-2.48321087e+01],
       [ 1.49297188e+02],
       [-2.82248793e+01],
       [ 7.71019769e+00],
       [ 1.29735201e+01],
       [ 1.17003448e+01],
       [ 8.38524793e+00],
       [ 9.25803027e+00],
       [-2.59241871e+03],
       [ 7.58520639e+00],
       [ 2.45308776e+00],
       [ 8.29663110e+00],
       [ 9.40002423e+00],
       [ 9.45657755e+00],
       [ 1.12823716e+01],
       [ 2.02976199e+01],
       [-1.82558892e+02],
       [ 1.10682745e+01],
       [ 8.21136164e+00],
       [ 1.11703055e+01],
       [-3.81022220e+01],
       [ 1.45774852e+01],
       [ 9.28894800e+00],
       [ 8.68182228e+00],
       [ 1.09006789e+01],
       [ 1.03649987e+01],
       [ 1.33085335e+01],
       [ 6.22851938e+00],
       [ 7.01459956e+01],
       [ 1.18209712e+01],
       [ 1.50739680e+01],
       [ 1.25462799e+01],
       [ 5.54249149e+00],
       [ 6.87082842e+00],
       [ 1.89071802e+01],
       [ 7.22471116e+00],
       [ 3.13868403e-01],
       [ 1.12003787e+01],
       [ 1.00989546e+01],
       [ 9.40188541e+00],
       [ 1.07200932e+01],
       [ 1.08047963e+01],
       [ 8.55164498e+00],
       [ 9.15367040e+00],
       [ 1.23032156e+01],
       [ 1.02051402e+01],
       [ 1.09365851e+01],
       [ 1.17992657e+01],
       [-1.95470144e+02],
       [ 2.50614594e+01],
       [ 9.80134691e+00],
       [ 1.09901057e+01],
       [ 7.90443262e+00],
       [ 9.80161066e+00],
       [ 1.48397441e+01],
       [ 9.80930371e+00],
       [ 1.47824507e+01],
       [ 3.29793207e+00],
       [ 1.07986101e+01],
       [ 9.89999234e+00],
       [ 1.60940841e+01],
       [ 7.76766351e+00],
       [-1.69517651e+01],
       [ 1.63538782e+01],
       [ 1.43619641e+01],
       [ 1.18997543e+01],
       [ 9.70165225e+00],
       [ 5.29001193e+00],
       [ 1.06860669e+01],
       [ 8.12873783e+00],
       [ 8.06508582e+01],
       [ 5.97802861e-01],
       [ 1.61310768e+02],
       [ 1.03676665e+01],
       [ 1.01681474e+01],
       [ 7.18412206e+00],
       [ 6.68353266e+00],
       [ 9.38866824e+00],
       [-4.55030978e+01],
       [ 1.58941350e+01],
       [ 1.06997258e+01],
       [ 9.50284336e+00],
       [-5.72403029e+00],
       [-2.68041448e-01],
       [ 8.92758786e+00],
       [ 1.06013114e+01],
       [ 1.08996164e+01],
       [ 1.51368914e+01],
       [ 9.30789510e+00],
       [ 9.50438794e+00],
       [ 3.95115972e+00],
       [ 8.88673587e+00],
       [ 8.29230959e-01],
       [ 9.17288687e+00],
       [ 5.95926249e+00],
       [-4.36644272e+00],
       [ 9.43589657e+00],
       [ 1.03694301e+01],
       [ 1.72563627e+01],
       [ 1.14015716e+01],
       [ 1.00002253e+01],
       [ 1.93024305e+01],
       [ 1.29377876e+01],
       [ 9.00924541e+00],
       [ 2.38878090e+01],
       [-1.72602513e+01],
       [ 1.04976005e+01],
       [ 1.19845331e+01],
       [ 8.65731129e+00],
       [ 9.39982285e+00],
       [ 1.10000078e+01],
       [ 8.83049939e+00],
       [ 8.46032842e+00],
       [ 1.01653482e+01],
       [ 1.48859749e+01],
       [ 1.09940046e+01],
       [-6.89051896e+02],
       [ 9.79345460e+00],
       [ 1.61211753e+01],
       [ 1.11591873e+01],
       [ 8.98200421e+00],
       [ 7.75085431e+00],
       [-1.02947651e+03],
       [ 3.45429440e+01],
       [ 1.39328172e+01],
       [ 8.62474530e+00],
       [ 9.88768114e+00],
       [-8.39483087e+00],
       [ 9.80061620e+00],
       [ 1.02051402e+01],
       [ 1.05003365e+01],
       [ 1.31382378e+01],
       [-1.54088508e+00],
       [-2.39702064e+02],
       [ 1.10192453e+01],
       [ 1.27001656e+01],
       [ 1.36603569e+01],
       [ 5.61028504e+00],
       [ 2.55336848e+02],
       [ 3.20459701e+00],
       [ 6.58968390e+00],
       [ 1.09920224e+01],
       [ 9.50188230e+00],
       [ 1.16057035e+02],
       [ 9.56449717e+00],
       [ 9.57107194e+00],
       [-5.22189913e+03],
       [-1.64731761e+02],
       [ 1.04158886e+01],
       [ 9.80021989e+00],
       [ 1.45849414e+01],
       [ 1.17026749e+01],
       [ 2.62175276e+01],
       [ 9.00019294e+00],
       [ 1.16986446e+01],
       [ 8.57698531e+00],
       [ 8.72691055e+00],
       [ 6.69631741e+00],
       [ 1.67709975e+01],
       [ 1.00927190e+01],
       [ 4.94968264e+01],
       [ 1.27986903e+01],
       [ 7.90443262e+00],
       [ 1.24991858e+01],
       [ 1.08704163e+01],
       [ 9.80160234e+00],
       [ 9.92761744e+00],
       [ 9.89996503e+00],
       [ 1.58713596e+01],
       [ 7.18987058e+00],
       [ 9.50011254e+00],
       [ 1.03567272e+01],
       [-1.32182602e+02],
       [ 1.64408768e+01],
       [ 1.08194363e+01],
       [ 1.04924848e+01],
       [ 2.91773204e+03],
       [ 2.09590029e+01],
       [ 1.12681095e+01],
       [ 4.34889361e+02],
       [ 9.33503134e+00],
       [ 9.00100029e+00],
       [ 1.09997420e+01],
       [ 1.18827033e+01],
       [ 1.25038039e+02],
       [ 8.99997345e+00],
       [-1.01210165e+01],
       [ 4.79644892e+00],
       [ 1.12992687e+01],
       [ 4.99474552e+02],
       [ 9.63089298e+00],
       [ 8.69856647e+00],
       [ 1.04999339e+01],
       [ 9.08513349e+00],
       [ 6.94910117e+00],
       [-3.12587128e+03],
       [ 1.25923765e+01],
       [ 9.60181603e+00],
       [ 6.54448706e+00],
       [ 1.09186853e+01],
       [ 1.19824450e+01],
       [-1.30169950e+03],
       [-3.99814004e+01],
       [ 1.06033402e+01],
       [ 1.17998772e+01],
       [ 1.50731931e+01],
       [-3.92610009e+00],
       [-3.72847376e+04],
       [-1.67138012e+01],
       [ 1.03996638e+01],
       [ 1.01856371e+01],
       [ 1.21720973e+01],
       [ 9.92410998e+00],
       [-2.26776853e+00],
       [ 7.34924302e+02],
       [ 1.72563627e+01],
       [ 1.00501707e+01],
       [ 9.90060556e+00],
       [ 4.96874415e+01],
       [ 1.01809357e+01],
       [ 9.49703632e+00],
       [ 1.04997135e+01],
       [ 1.06803904e+01],
       [ 9.38476463e+00],
       [ 2.23263301e+01],
       [ 1.03004777e+01],
       [ 1.70789786e+01],
       [ 7.75085431e+00],
       [ 9.69878012e+00],
       [ 9.98437647e+00],
       [ 1.11629801e+01],
       [-2.59576644e+02],
       [ 9.42235466e+01],
       [ 9.89881582e+00],
       [ 1.01589031e+01],
       [ 9.79831291e+00],
       [ 1.74021486e+01],
       [ 5.82718064e+01],
       [ 9.49981518e+00],
       [ 1.04024233e+01],
       [ 6.28507891e+00],
       [ 6.16391249e+00],
       [ 9.59536687e+00],
       [ 9.57933788e+00],
       [ 5.64478047e+00],
       [ 3.80707701e+00],
       [ 9.49362482e+00],
       [ 9.28935790e+00],
       [ 1.07581325e+01],
       [ 1.74491583e+01],
       [ 1.59389917e+01],
       [ 1.28689141e+01],
       [-2.00756515e+01],
       [ 9.48312627e+00],
       [ 8.00777044e+00],
       [ 9.76329911e+00],
       [ 8.39137840e+00],
       [ 1.11962197e+01],
       [ 1.31606409e+01],
       [ 2.31178437e+01],
       [ 9.37833158e+00],
       [ 8.70284747e+00],
       [-2.20028672e+00],
       [ 7.13173044e+00],
       [ 1.22361056e+01],
       [ 9.63557961e+00],
       [ 1.67901641e+01],
       [ 9.95636084e+00],
       [-1.42094742e+01],
       [-1.01210165e+01]])

In [21]:
# Coefficients et intercepteurs
coefficient = LinearReg.coef_
interceptors = LinearReg.intercept_
print(coefficient)

[[-1.18188215e-02 -2.03913355e-02  4.79431004e+00 ... -8.66707811e+01
   1.21752621e+02 -4.86550777e+01]]

In [22]:
print(interceptors)

[1359.24677578]